.App {
  text-align: center;
}

.progress{
    position: absolute;
    left: 25%;
    top: 40px;
    width: 50%;
    background-color: #ccc;
    border-radius: 20px;
}
.progress-bar{
  background-color: rgb(52,122,182  );
  border-radius: 20px;
  min-width: 4em;
  text-align: center;
}